name: Check name in readme file

run-name: Check my name in readme file

on: 
  push:
    branches-ignore:
      - 'main'
  workflow_dispatch:

jobs:
  setup-python:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repository
        uses: actions/checkout@v5
      
      - name: Check branch
        run: git branch
    
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      # You can test your matrix by printing the current Python version
  
      - name: Check name in readme
        run: python .github/scripts/search_name.py
